* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #151c20;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    scroll-behavior: smooth;
}

nav {
    padding: 5%;
    display: flex;
    align-items: center;
}
nav img {
    height: 2em;
}
nav svg {
    margin-left: auto;
    height: 1.5em;
}

.headsection {
    padding: 5% 5% 10% 5%;

    margin-top: 5%;
}
.headsection p {
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
    line-height: 1.5;
    margin-top: 6%;
}
.headsection-title {
    font-size: 175%;
}
.headsection-title span {
    color: #75fab2;
    font-weight: 600;
}
.headsection-buttonarray {
    display: flex;
    align-items: center;

    margin-top: 15%;
}
.headsection-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 105%;

    border: none;
    outline: none;

    background-color: transparent;
}
.headsection-buttonarray-start {
    background-color: #75fab2;

    margin-right: 1em;

    color: #151c20;

    padding: .5em 1em;
}
.headsection-buttonarray-gal {
    color: white;
}

.partners {
    background-color: #1e222c;
}
.partners h3{
    text-align: center;
    opacity: .7;

    font-size: 95%;
}
.partners-hunter {
    width: 6em;
    opacity: .7;
}
.partners-rb {
    width: 6em;
    opacity: .7;

    padding-left: 5%;
}
.partners div {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5%;
}

section {
    padding: 5%;
}

section h3 {
    text-align: center;
    font-weight: 500;
    font-size: 125%;
}
h3 span {
    color: #75fab2;
    font-weight: 600;
}
section p {
    color: rgba(255, 255, 255, .7);
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    font-size: 95%;

    margin-top: .5em;
}

.services {
    display: flex;
    flex-direction: column;

    margin-top: 5%;
}

.service-icon {
    width: 2.5em;
    color:rgba(255, 255, 255, .2);

    background-color: rgba(117, 250, 178, .1);

    padding: 1.5em;

    border-radius: 1em;
}
.service-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5% 0;
}
.service-wrapper h4 {
    margin-top: 1em;
    margin-bottom: .5em;
}
.service-wrapper p {
    color: rgba(255, 255, 255, .7);
    font-weight: 400;
    font-size: 95%;
    text-align: center;
    line-height: 1.5;
}

.start {
    background-color: #75fab2;
}
.start div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #151c20;
    text-align: center;
}

.start h3 {
    font-size: 160%;
    margin-bottom: .75em;
    font-weight: 600;
}
.start-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 105%;
    color: #151c20;

    border: none;
    outline: none;

    background-color: transparent;

    display: flex;
    align-items: center;
}
.start-button div {
    margin-right: .5em;
}
.start-buttons {
    flex-direction: row !important;
    justify-content: center;
    margin-top: 5%;
}
.start-button-signup {
    background-color: #151c20;;
    color: #75fab2;

    margin-right: 1.5em;

    padding: .5em 1em;
}

.way-wrapper-node {
    display: flex;

    background-color: #1e222c;

    padding: 1.5em;

    border-radius: 13px;

    margin: 2em 0;
}
.way-wrapper-node svg {
    flex-grow: 1;

    width: 1.5em;
    height: 1.5em;
}
.way-wrapper-node div {
    margin-right: 5%;
}
.way-wrapper-node-contentwrapper p {
    text-align: left;
}

.contact {
    background-color: #1e222c;
}
.contact form {
    display: flex;
    flex-direction: column;

    margin-top: 5%;
}
.contact form input {
    margin: 2.5% 0;

    padding: 1em;

    background-color: transparent;

    outline: none;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, .3);

    font-size: 110%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    transition: all .2s ease-out;
}
.contact form input::placeholder {
    color: rgba(255, 255, 255, .5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.contact form input:focus {
    border-bottom-color: #75fab2;
}
.contact form textarea {
    margin: 2.5% 0;

    padding: 1em;

    background-color: transparent;

    outline: none;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, .3);

    font-size: 110%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    transition: all .2s ease-out;

    height: 150px;
    resize: none;
}
.contact form textarea::placeholder {
    color: rgba(255, 255, 255, .5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.contact form textarea:focus {
    border-bottom-color: #75fab2;
}
.contact form button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 105%;
    color: #151c20;
    font-weight: 600;

    border: none;
    outline: none;

    background-color: #75fab2;

    padding: .5em 0;

    margin-top: 13%;
}