<!DOCTYPE html>
<html>

<head>
    <title>R&A Landscaping + Irrigation | Pay</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pay/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#75fab2">
    <meta charset="utf-8">
</head>

<body>
    <nav>
        <img src="{% static 'home/images/logo_color.png' %}">
    </nav>
    <div class="details">
        <h2>
            Hello there!
        </h2>
        <p>
            This is a payment request for
        </p>
        <h1>
            $35.00
        </h1>
    </div>
    <div class="jobdetails">
        <div></div>
    </div>
</body>

</html>